.featured {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.featured .container {
    position: relative;
    margin: 0 0 5px 5px;
    width: 50px;
    height: 300px;
    overflow: hidden;
    transition: 1s;
    color: rgba(0, 0, 0, 0);
}

.featured .container:hover {
    color: rgba(255, 255, 255, 1);
    width: 500px;
    transition: 1s;
}

.featured .container .project-title {
    position: absolute;
    top: 50%;
    left: 5%;
}