.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links .link {
    color: white;
    background-color: rgb(35, 35, 35);
    font-size: 2em;
    border: 5px solid rgb(35, 35, 35);
    border-radius: 5px;
    margin: 5px;
    transition: 0.5s;
}

.links .link:hover {
    transition: 0.5s;
    transform: scale(1.4);
}