.title {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 2s slide 2s ease forwards;
    z-index: 1;
}

.title .name {
    font-family: Roboto-Light;
    font-size: 5em;
    margin: 10px 10px;
    animation: fadeIn 2s linear forwards;
}

.title .links .links-container .hidden-rotation {
    transform: rotateY(90deg);
}

.title .links .links-container .rotated {
    font-size: 2em;
    color: white;
    background-color: rgb(52, 52, 52);
    border: 5px solid rgb(52, 52, 52);
    border-radius: 8px;
    margin: 5px 0px 0px 10px;
    transition: 0.5s;
    transform: rotateY(0deg);
}

.title .links .links-container .rotated:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        height:100vh;
    }

    to {
        height: 20vh;
    }
}

