.overlayed {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.sitetitle {    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 2s slide 2s ease forwards;
    z-index: 2;
}

.sitetitle .name {
    font-size: 5em;
    margin: 5px auto;
    animation: fadeIn 2s linear forwards;
}

.sitetitle .subtitle {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.5s forwards 4s;
}

.sitetitle .subtitle * {
    margin: 10px;
}

.sitetitle .subtitle h3 {
    transition: 0.5s;
}

.sitetitle .subtitle h3:hover {
    transform: rotate(5deg) scale(1.4);
    transition: 0.5s;
    margin: 10px 30px;
}

.hidden-rotated {
    transform: rotateY(90deg);
}

.visible-rotated {
    transform: rotateY(0deg);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        height:100vh;
    }

    to {
        height: 25vh;
    }
}

@media screen and (max-width:900px) {
    .sitetitle .name {
        font-size: 14vw;
    }
}