@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Roboto-Light;
    src: url('./fonts/Roboto-Light.ttf');
    font-display: swap;
}

* {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}
